.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
  width: 100%;
  background-color: #502424;
  padding: 10px;
  padding: 10px;
  width: 100%;        
  height: 100px; 
  border-radius: 0px;
  border-spacing: 0cap; 
  padding-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
  font-family: Arial, sans-serif;
}
.nav-item {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-sizing: content-box;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #edb1b1;
}
.nav-bar{
  background-color: #f9f3f3;
}
.box{
 flex: 1;
 margin: 0px;
 height: 800vmax; 
 background-color: rgb(214, 236, 242);
display: flex;
flex-direction: row;

}
.line {
  margin-left: 0;
  height: 300px; 
  width: 70%;
  float: left;
  margin-bottom: 1px;
}
.bar {
  margin-right: 0;
  height: 300px;
  width: 40%;
}
.pie{
  margin-right: 0;
  height: 400px;
  width: 40%;
}
.table{
  flex: 1;
 margin: 1px;
 width: 100%;
 height: 600px; 
 padding: 1px;
 align-items: center;
 flex-direction: row;
}
.style-table{
  width: 100%;
  height: 600%;
  border-color: #61dafb;
  margin: 12px 0px;
  font-size: 18px;
  text-align: left;

}

.styled-table td {
  padding: 12px 15px;
}

.style-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.style-table thead tr th{
  background-color: #009879;
}

.style-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.style-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.style-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.style-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.footer1{
  color: blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.extras{
  height: 80px;
  width: 100%;
  background-color: #282c34;
  
}
.ff{
  margin-top: 1px;
  border-radius: 0%;
}
  